<% var default_lang=config.lang || 'zh-CN' ; %>
  <section class="category">
    <h2>
      <%- __('menu.categories') %> (<%= categories.length %>)
    </h2>
    <ul class="category-list">
      <% categories.each(function(category) { %>
        <% if (category.posts.some(post=> post.lang === lang)) { %>
          <li class="category-item">
            <% if (lang===default_lang) { %>
              <a href="<%- url_for(category.path) %>">
                <% } else { %>
                  <a href="<%- url_for(lang + '/' + category.path) %>">
                    <% } %>
                      <%= category.name %> (<%= category.length %>)
                  </a>
          </li>
          <% } %>
            <% }) %>
    </ul>
  </section>