<header>
    <div class="container d-flex flex-wrap justify-content-center py-3 mb-4">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/<%= __('lang') %>/header-logo.png" alt="" height="32">
        </a>
        <ul class="nav nav-pills">
            <% for (name in theme.menu) { %>
                <li>
                    <% if (page.lang==='zh-CN' ) { %>
                        <a href="<%- url_for(theme.menu[name]) %>" class="nav-link link-body-emphasis"><%- __('menu.' +
                                name) %></a>
                        <% } else { %>
                            <a href="/<%= __('lang') %><%- url_for(theme.menu[name]) %>"
                                class="nav-link link-body-emphasis"><%- __('menu.' + name) %></a>
                            <% } %>
                </li>
                <% } %>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis dropdown-toggle"
                            data-bs-toggle="dropdown">Language</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/en/">English</a></li>
                            <li><a class="dropdown-item" href="/">简体中文</a></li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/alongui" class="nav-link link-body-emphasis"
                            target="_blank">GitHub</a></li>
        </ul>
    </div>
</header>