<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto mb-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="<%= page.banner_link1 %>" target="_blank"><img
                                src="/assets/banner/<%= page.banner_img1 %>" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="<%= page.banner_link2 %>" target="_blank"><img
                                src="/assets/banner/<%= page.banner_img2 %>" class="d-block w-100"></a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body mx-auto text-center">
                    <img class="avatar mb-4" src="/assets/images/avatar-user.png" alt="" width="128" height="128">
                    <h4 class="card-title mb-4">
                        <%= __('me.name') %>
                    </h4>
                    <h6 class="card-subtitle mb-4 text-body-secondary">
                        <%= __('me.welcome') %>
                    </h6>
                    <p class="card-text">
                        <%= __('me.value1') %>
                    </p>
                    <p class="card-text">
                        <%= __('me.value2') %>
                    </p>
                    <div class="card-me mb-3">
                        <a href="<%= __('im.douyin') %>" target="_blank"><i
                            class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-douyin"></i></a>
                        
                        <% if( __('lang') === "zh-CN" ) { %>
                            <a href="<%= __('im.bilibili') %>" target="_blank"><i
                                class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-bilibili"></i></a>
                            <a href="<%= __('im.weibo') %>" target="_blank"><i
                                class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-weibo"></i></a>
                        <% } else { %>
                            <a href="<%= __('im.youtube') %>" target="_blank"><i
                                class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-youtube"></i></a>
                            <a href="<%= __('im.x') %>" target="_blank"><i
                                    class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-x"></i></a>
                        <% } %>

                        <a href="mailto:<%= __('im.mail') %>" target="_blank"><i
                                class="fs-2 mb-3 p-1 m-1 text-dark along-icon icon-email"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>