<div class="container">
    <div class="col-md-10 mx-auto bg-white rounded pb-5">
        <div class="col-md-8 mx-auto py-3">
            <div class="software-info row">
                <div class="col-md-4 text-center">
                    <img class="software-logo mb-4" src="/assets/software/<%= page.logo %>" alt=""
                        width="128" height="128">
                </div>
                <div class="col-md-8">
                    <h4 class="mb-4"><%= page.title %></h4>
                    <p><%= __('software.platform') %><%= page.platform %></p>
                    <p><%= __('software.language') %><%= page.language %></p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-dark dropdown-toggle download-btn"
                            data-bs-toggle="dropdown"><%= __('software.download') %></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" target="_blank"
                                    href="<%= page.download_win %>">Windows</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="<%= page.download_mac %>">macOS</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" target="_blank" href="<%= page.download_all %>"><%= __('software.all-version') %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="software-info-item">
                <span class="software-info-item-title"><%= __('software.software-intro') %></span>
                <div class="border-bottom"></div>
                <div class="software-info-item-content">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/assets/software/<%= page.software_img1 %>"
                                    class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/software/<%= page.software_img2 %>"
                                    class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
    
                    <div class="post-content mt-1">
                        <%- page.content %>
                    </div>
                </div>
            </div>
            <div class="software-info-item">
                <span class="software-info-item-title"><%= __('software.update-log') %></span>
                <div class="border-bottom"></div>
            </div>
        </div>
    </div>
    
</div>